/* 메인 이미지 배경 */
.main-banner {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.main-image {
    height: 100%;
    object-fit: cover;
}

/* 검색 컨테이너 */
.search-container {
    position: absolute;
    top: 200px;
    left: 40px;
    max-width: 800px;
}

.search-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* 검색 입력창 */
.search-input {
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px !important;
}

/* 검색 아이콘 스타일 */
.search-icon {
    right: 15px; /* 오른쪽 여백 설정 */
    transform: translateY(50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.search-btn {
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 1.1rem;
}

.search-btn:hover {
    background-color: #E64A19;
}

/* 섹션 타이틀 */
.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 레스토랑 카드 */
.js-shop {
    margin: 50px;
    padding: 50px !important;
}

.restaurant-card .card {
    transition: transform 0.3s ease-in-out;
}

.restaurant-card .card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* 배너 */
.js-banner {
    position: relative;
    background-color: #FF5733;
    height: 320px;
    margin-bottom: 100px;
    border-radius: 8px;
}
.js-banner > img {
    position: absolute;
    max-height: 100%;
    border-radius: 8px 0 0 8px;
}
.js-banner-textarea {
    position: absolute;
    top: 40px;
    left: 500px;

    color: white;
}
.js-together {
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: white;
    margin-bottom: 10px;
}
.js-together > p {
    float: left;
    margin: 0;
    margin-right: 4px;
}
.js-together > img {
    height: 20px;
    float: right;
}
/* 공지사항 섹션 */
.announcement-section .list-group-item {
    border: none;
    font-size: 1rem;
    padding: 10px;
}

.text-muted {
    font-size: 0.9rem;
    float: right;
}
