
* {
  list-style: none;
}

/* Title */
.HjMypageTitle {
  margin-left : 30px;
}

/* UserProfile */
.HjUserProfile {
  margin : 0 30px;
  margin-bottom : 30px;
  padding : 15px;
  display : flex;
}

.HjUserProfile > .UserName {
  margin-left : auto;
  background-position: center;
  background-size : cover;
}

.HjUserProfile > .editUserProfile {
  margin-top : auto;
  background-position: center;
  background-size: cover;
}

/* Reservation */
.HjReservation {
  border : solid 1px black;
  border-radius : 12px;
  margin : 0 30px;
  margin-bottom : 30px;
  padding : 15px;
  display: flex;
}

.HjReservationHistory {
  margin-left : auto;
  background-position: center;
  background-size: cover;
}

/* MyReviewList */
.HjMyReviewList {
  border : solid 1px black;
  border-radius : 12px;
  margin : 0 30px;
  margin-bottom : 30px;
  padding : 15px;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-start;
}

.HjMyReviewListAll {
  margin-left : auto;
  background-position: center;
  background-size: cover;
}

.HjMyReviewList-list {
  border: solid 1px black;
  width: 100%; /* 부모의 가로 너비를 채움 */
  padding: 5px;
  margin-top: 10px; /* 상단 여백 추가 */
}

.HjMyReviewList-detail {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%; /* 부모의 가로 너비를 채움 */
}

.HjCreateDate {
  margin-left: auto;
}

/* Favorites */
.HjFavorites {
  border : solid 1px black;
  border-radius : 12px;
  margin : 0 30px;
  margin-bottom : 30px;
  padding : 15px;
  display: flex;
}

.HjFavoritesAll {
  margin-left : auto;
  background-position: center;
  background-size: cover;
}