/* 타이틀 */
.HjMypageTitle {
  margin-left: 30px;
  font-size: 45px;
  margin-bottom: 20px;
}

/* 프로필 상단(사진, 닉네임, 수정 버튼) */
.HjUserProfile {
  margin: 0 30px;
  margin-bottom: 30px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.HjUserProfile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.HjUserName {
  margin-left: 20px;
  font-size: 24px;
}

.HjEditUserProfile {
  margin-left: auto;
  align-self: center;
  text-decoration: none;
  color: blue;
}

/* 섹션 스타일 */
.HjMyPageSection {
  border: solid 1px black;
  border-radius: 12px;
  margin: 0 30px 30px 30px;
  padding: 15px;
}

.HjMyPageSectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.HjMyPageSectionTitle {
  margin: 0;
}

.HjMyPageSectionLink {
  text-decoration: none;
  color: black;
}
