/* Title */
.HjMypageTitle {
  margin-left: 30px;
  font-size: 45px;
}

/* UserProfile */
.HjUserProfile {
  margin: 0 30px;
  margin-bottom: 30px;
  padding: 15px;
  display: flex;
}

.HjUserProfile img {
  width: 250px;
}

.HjUserName {
  margin-left: 20px;
  font-size: 24px;
}

.HjEditUserProfile {
  margin-left: auto;
  align-self: center;
  text-decoration: none;
  color: blue;
}

/* Reservation */
.HjReservation {
  border: solid 1px black;
  border-radius: 12px;
  margin: 0 30px;
  margin-bottom: 30px;
  padding: 15px;
}

.HjReservationHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HjReservationHistory {
  margin-left: auto;
  text-decoration: none;
  color: blue;
}

/* MyReviewList */
.HjMyReviewList {
  border: solid 1px black;
  border-radius: 12px;
  margin: 0 30px;
  margin-bottom: 30px;
  padding: 15px;
}

.HjMyReviewListHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HjMyReviewListAll {
  text-decoration: none;
  color: blue;
}

.HjMyReviewList-list {
  border: solid 1px black;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.HjMyReviewList-detail {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.HjCreateDate {
  margin-left: auto;
}

/* Favorites */
.HjFavorites {
  border: solid 1px black;
  border-radius: 12px;
  margin: 0 30px;
  margin-bottom: 30px;
  padding: 15px;
}

.HjFavoritesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HjFavoritesAll {
  margin-left: auto;
  text-decoration: none;
  color: blue;
}
