/* 공통 폰트 설정 */


/* 전체 예약 페이지 컨테이너 */
.reserve-container {
    margin: 2rem auto;
    max-width: 1280px;
}

/* 예약 상세 영역 스타일 */
.reservation-details {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
.reservation-details h3 {
    color: #FF5733;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

/* 폼 스타일 */
form .form-label {
    color: #333;
    font-weight: bold;
}

form .form-control {
    border-radius: 5px;
    box-shadow: none;
}

/* 버튼 스타일 */
button {
    background-color: #FF5733;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e64a28;
}

/* 캘린더 스타일 */
.react-calendar {
    width: 700px;
    height: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 1, 0.1);
}
.calendar-section{
    padding-left: 0 !important;
}
.react-calendar__tile {
    padding: 20px 10px;
    border-radius: 8px;
}

.react-calendar__navigation__label {
    width: 100%;
    padding: 15px 0;
}

.react-calendar>button {
    padding: 10px;
}

.react-calendar__tile--active,
.react-calendar__tile:hover {
    background-color: #FF5733;
    font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth{
    color: gray !important;
}

.saturday {
    color: blue;
}


/* 레스토랑 정보 섹션 스타일 */
.restaurant-info {
    background-color: #FF5733;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.restaurant-info .restaurant-details h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.restaurant-info .restaurant-details p {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

/* 리뷰 섹션 스타일 */
.reviews {
    margin-top: 20px !important;
}
.reviews-section{
    padding: 0 !important;
}
.reviews-col {
    padding: 0 !important;
    margin-top: 30px !important;
}

.reviews-section h3 {
    color: #FF5733;
    margin-bottom: 1rem;
}

.review-card {
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-card .card-title {
    font-weight: bold;
    color: #333;
}

.review-card .card-text {
    color: #333;
}

/* 예약 요약 영역 스타일 */
.reservation-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.reservation-summary strong {
    font-size: 20px;
}

.reservation-summary button {
    margin-left: 20px;
}
