.reviewList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviewList > h3 {
  flex-basis: 100%;
}
.reviewList > li {
  width: 300px;
  height: 360px;
  margin-bottom: 2rem;
}

.reviewList > div {
  margin: 0 auto;
  margin-bottom: 2rem;
}